# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.yarn/
.turbo/

# testing
/coverage

# next.js
/.next/
/out/

# sanity
/.sanity/
/dist/
#sanity.types.ts
#schema.json

# migration from wordpress
.migrations/database/*.sql
.migrations/uploads/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# VS Code
.vscode
